body {
	background-color: #B7E9FF;
}

h1 {
	color: red;
}

h2 {
	color: #0516BA;
	font: italic small-caps bold  22px/2 cursive;
}

p {
	border: 8px double green;
	font: 18px/1.2 "Fira Sans", bold sans-serif;
}